*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/
www-test/

target/

.project
.classpath
.settings/
.checkstyle


Thumbs.db

.gwt/

